<script>
  class BaseTool {
    constructor(state) {
        this.state = state;
    }
    onMouseDown(event) {}
    onMouseDrag(event) {}
    onMouseUp(event) {}

    makeDashArray() {
        if (this.state.brushStyle === "dashed") {
            const dash = this.state.brushSize * 2;
            const gap = this.state.brushSize * 2;
            return [dash, gap];
        }
        return [];
    }

    onActivate() {
    }
}



window.BaseTool = BaseTool

</script>

{% include "sketch/draw_scripts.html" %}
{% include "sketch/transform_scripts.html" %}

<script>
class ToolDispatcher {
    constructor(getState) {
        this.getState = getState;

        this.tools = {
            pencil: FreehandTool,
            pen: SmoothFreehandTool,
            line: LineTool,
            elbow: ElbowLineTool,
            arrow: ArrowTool,
            rect: RectTool,
            circle: CircleTool,
            triangle: TriangleTool,
            icon: IconTool,
            text: TextTool,
            select: SelectTool,
            move: MoveTool,
            rotate: RotateTool,
            scale: ScaleTool,
            universalTransform: UniversalTransformTool,
            union: UnionTool,
            intersection: IntersectionTool,
            subtraction: SubtractionTool,
            delete: DeleteTool,
            group: GroupTool,
            ungroup: UngroupTool,
            bringForward: BringForwardTool,
            sendBackward: SendBackwardTool,
            fill: FillTool
        };

        this.activeTool = null;
    }

    getToolInstance() {
        const state = this.getState();
        const ToolClass = this.tools[state.currentTool];

        if (!this.activeTool || this.activeTool.toolName !== state.currentTool) {
            this.activeTool = new ToolClass(state);

            if (this.activeTool.onActivate) {
                this.activeTool.onActivate();
            }
        }

        return this.activeTool;
    }

    onMouseDown(event) { this.getToolInstance().onMouseDown(event); }
    onMouseDrag(event) { this.getToolInstance().onMouseDrag(event); }
    onMouseUp(event) { this.getToolInstance().onMouseUp(event); }
}

</script>
