include LICENSE
include README.md
recursive-include toto *.html *.txt *.yaml *.yml *.js *.ts *.wasm *.json *.css *.png *.svg *.ico *.woff *.woff2
prune toto/core/static/vendor
global-exclude __pycache__ *.py[cod] *.orig *.rej
