<style>
  @import url('{{ theme.import_url }}');

  :root {
    --bg-top: {{ theme.light_bg_top }};
    --bg-bottom: {{ theme.light_bg_bottom }};
    --text-main: {{ theme.light_text_main }};
    --text-muted: {{ theme.light_text_muted }};
    --accent: {{ theme.light_accent }};
    --card-bg: {{ theme.light_card_bg }};
    --border: {{ theme.light_border }};
    --nav-bg: {{ theme.light_nav_bg }};
    --nav-text: {{ theme.light_nav_text }};
    --nav-shadow: {{ theme.light_nav_shadow }};
    --footer-bg: {{ theme.light_footer_bg }};
    --banner-overlay: {{ theme.light_banner_overlay}}
  }

  .dark {
    --bg-top: {{ theme.dark_bg_top }};
    --bg-bottom: {{ theme.dark_bg_bottom }};
    --text-main: {{ theme.dark_text_main }};
    --text-muted: {{ theme.dark_text_muted }};
    --accent: {{ theme.dark_accent }};
    --card-bg: {{ theme.dark_card_bg }};
    --border: {{ theme.dark_border }};
    --nav-bg: {{ theme.dark_nav_bg }};
    --nav-text: {{ theme.dark_nav_text }};
    --nav-shadow: {{ theme.dark_nav_shadow }};
    --footer-bg: {{ theme.dark_footer_bg }};
    --banner-overlay: {{ theme.dark_banner_overlay }};
  }

  body {
    font-family: '{{ theme.body_font.name }}', monospace;
    background: linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
    color: var(--text-main);
  }

  h1, h2, h3 {
    font-family: '{{ theme.heading_font.name }}', sans-serif;
    color: var(--accent);
  }

  a {
    color: var(--accent);
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--text-muted);
  }

  .card {
    background-color: var(--card-bg);
    border: 2px solid var(--border);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: transform 0.3s ease, border-color 0.3s ease;
  }

  .card:hover {
    transform: translateY(-4px);
    border-color: var(--accent);
  }

  .dropdown-enter {
    opacity: 0;
    transform: scale(0.95);
  }

  .dropdown-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 200ms ease-out;
  }
</style>
