{% extends "oya/base.html" %}
{% load static %}

{% block title %}Account Dashboard – {{ platform.site_name }}{% endblock %}

{% block content %}
<div class="min-h-screen px-4 py-10 transition-colors duration-300"
     :class="darkMode ? 'bg-primary-bg-dark text-text-main-dark' : 'bg-primary-bg-light text-text-main-light'">

  <div class="max-w-6xl mx-auto space-y-10">

    <h1 class="text-3xl font-bold mb-6">Account Dashboard</h1>

    <!-- Content (no tabs) -->
    <div class="mt-6">
      {% include "oya/partials/table.html" with title="Accounts" columns=accounts_columns rows=accounts_rows %}
    </div>

  </div>
</div>
{% endblock %}

{% block end_script %}
  {% include "oya/partials/paging_script.html" %}
{% endblock %}
